.SVG_example {
  .section-one {
    background: #333 center / cover url(./space.jpg);
    text-align: center;
    position: relative;
  }

  .section-one h1 {
    font-family: "Lexend Deca", sans-serif;
    color: #fff;
    margin: 0;
    font-size: 5em;
    padding: 2em 0;
    text-shadow: 2px 2px 40px #000;
  }

  .section-two {
    text-align: center;
    background: #fff;
    padding: 0 0 35px;
  }

  .section-two h2 {
    font-size: 4em;
    padding: 1em;
    font-family: "Lexend Deca", sans-serif;
  }

  .section-two p {
    font-size: 2em;
    width: 60%;
    margin: 0 auto 1em;
  }

  /* Change class of SVGs */

  .slant,
  .clouds,
  .curve {
    fill: #fff;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
