<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="root"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"
        integrity="sha512-kp7YHLxuJDJcOzStgd6vtpxr4ZU9kjn77e6dBsivSz+pUuAuMlE2UTdKB7jjsWT84qbS8kdCWHPETnP/ctrFsA=="
        crossorigin="anonymous"></script>

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <script type="text/babel">
        // Formik library is great API for dealing with React forms

        class FormContainer extends React.Component {
            constructor() {
                super()
                this.state = {
                    firstName: '',
                    lastName: '',
                    isFriendly: true,
                    gender: '',
                    favColor: 'white',
                    age: '',
                    destination: '',
                    isVegan: false,
                    isKosher: false,
                    isLactossFree: false
                }
                this.handleChange = this.handleChange.bind(this)
            }

            handleChange(event) {
                const { name, value, type, checked } = event.target
                type === "checkbox" ? this.setState({
                    [name]: checked
                }) : this.setState({
                    [name]: value
                })
            }

            handleSubmit() {

            }

            render() {
                return (
                    <FormComponent
                        handleChange={this.handleChange}
                        //{...this.state}
                        data={this.state}
                    />
                )
            }
        }

        function FormComponent(props) {
            return (
                <div>
                    <form onSubmit={props.handleSubmit}>
                        <input
                            type="text"
                            value={props.data.firstName}
                            name="firstName"
                            placeholder="First name"
                            onChange={props.handleChange}
                        />
                        <h1>{props.data.firstName}</h1>
                        <br />

                        <input
                            type="text"
                            value={props.data.lastName}
                            name="lastName"
                            placeholder="Last name"
                            onChange={props.handleChange}
                        />
                        <h1>{props.data.lastName}</h1>
                        <br />

                        <h1>TEXT AREA (self closing tag)</h1>
                        <textarea
                            value={'Default value'}
                            onChange={props.handleChange}
                        />
                        <br />

                        <h1>CHECKBOX</h1>
                        <label>
                            <input
                                type="checkbox"
                                name="isFriendly"
                                checked={props.data.isFriendly}
                                onChange={props.handleChange}
                            />
                            Is Friendly?
                        </label>
                        <h2>{props.data.isFriendly ? 'true' : 'false'}</h2>
                        <br />

                        <h1>RADIO BUTTON</h1>
                        <label>
                            <input
                                type="radio"
                                name="gender"
                                value="male"
                                checked={props.data.gender === 'male'}
                                onChange={props.handleChange}
                            />
                            Male
                        </label>
                        <label>
                            <input
                                type="radio"
                                name="gender"
                                value="female"
                                checked={props.data.gender === 'female'}
                                onChange={props.handleChange}
                            />
                            Female
                        </label>
                        <h2>You are {props.data.gender}</h2>
                        <br />

                        <h1>Select</h1>
                        <select
                            value={props.data.favColor}
                            onChange={props.data.handleChange}
                            name="favColor"
                        >
                            <option value="blue">Blue</option>
                            <option value="red">Red</option>
                            <option value="black">Black</option>
                        </select>
                        <h2>Your favorite color is {props.data.favColor}</h2>
                        <br />

                        <button>Submit</button>
                    </form>

                    <h1>PRICTIE</h1>
                    <form>
                        <input
                            name="firstName"
                            value={props.data.firstName}
                            onChange={props.handleChange}
                            placeholder="First Name"
                        />
                        <br />
                        <input
                            name="lastName"
                            value={props.data.firstName}
                            onChange={props.handleChange}
                            placeholder="Last Name"
                        />
                        <br />
                        <input
                            name="age"
                            value={props.data.firstName}
                            onChange={props.handleChange}
                            placeholder="Age"
                        />

                        <label>
                            <input
                                type="radio"
                                name="gender"
                                value="male"
                                checked={props.data.gender === 'male'}
                                onChange={props.handleChange}
                            />
                                Male
                            </label>
                        <br />

                        <label>
                            <input
                                type="radio"
                                name="gender"
                                value="female"
                                checked={props.data.gender === 'female'}
                                onChange={props.handleChange}
                            />
                                Female
                            </label>
                        <br />

                        <select
                            value={props.data.destination}
                            name='destination'
                            onChange={props.handleChange}
                        >
                            <option value=''>-- Please choose destination --</option>
                            <option value="germany">Germany</option>
                            <option value="norway">Norway</option>
                            <option value="russia">Russia</option>
                            <option value="nort pole">Nort pole</option>
                        </select>
                        <br />

                        <label>
                            <input
                                type="checkbox"
                                name="isVegan"
                                onChange={props.handleChange}
                                checked={props.data.isVegan}
                            /> Vegan?
                            </label>
                        <br />

                        <label>
                            <input
                                type="checkbox"
                                name="isKosher"
                                onChange={props.handleChange}
                                checked={props.data.isKosher}
                            /> Kosher?
                            </label>
                        <br />

                        <label>
                            <input
                                type="checkbox"
                                name="isLactossFree"
                                onChange={props.handleChange}
                                checked={props.data.isLactossFree}
                            /> Lactoss Free?
                            </label>
                        <br />

                        <button>Submit</button>
                    </form>
                    <hr />
                    <h2>Entered info:</h2>
                    <p>Your name: {props.data.firstName} {props.data.lastName}</p>
                    <p>Your age {props.data.age}</p>
                    <p>Your gender {props.data.gender}</p>
                    <p>Your destination {props.data.destination}</p>
                    <p>Your dietary restrictions:
                            Vegan: {props.data.isVegan ? 'Yes' : 'No'}
                        <br />
                            Kosher: {props.data.isKosher ? 'Yes' : 'No'}
                        <br />
                            Lactose Free: {props.data.isLactossFree ? 'Yes' : 'No'}
                    </p>
                </div>
            )
        }

        function App() {
            return (
                <FormContainer />
            )
        }

        ReactDOM.render(<App />, document.getElementById('root'))
    </script>
</body>

</html>