// Colors

$black: #222;
$dark-blue1: #16162d;
$dark-blue2: #221e3f;
$dark-blue3: hsl(209, 61%, 16%);
$dark-blue4: hsl(205, 72%, 37%);
$blue: #49a6e9;
$blue2: hsl(182, 63%, 54%);
$light-blue: hsl(205, 100%, 96%);
$light-blue2: hsl(205, 86%, 81%);
$grey: hsl(210, 22%, 49%);
$grey-text: hsl(209, 23%, 60%);
$light-grey: hsl(212, 33%, 89%);
$background: hsl(210, 36%, 96%);
$white: #fff;
$gold: #c59d5f;
$pink: #fd57bf;
$red: hsl(360, 67%, 44%);
$red-light: hsl(360, 71%, 66%);
$green: hsl(125, 67%, 44%);
$salad: hsl(125, 71%, 66%);

// Fonts

$title1: "Nanum Pen Script", cursive;
$title2: "Great Vibes", cursive;
$secondary: "DM Mono", monospace;
$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Open Sans", sans-serif;
$typeWriter: "Anonymous Pro", monospace;

// Box-shadow

$pink-box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

// Gradients

$gradient-yellow-pink-X: linear-gradient(to right, #ffe838, #fd57bf);
$gradient-yellow-pink-Y: linear-gradient(to right, #ffe838, #fd57bf);

// Other

$max-width: 1170px;
$fixed-width: 620px;

$transition: all 0.3s linear;
$spacing: 0.25rem;
$radius: 0.5rem;
