// Counter

section {
    &.counter__section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: $dark-gray; 

        & > div {
            display: flex;
            align-items: center;
            
            i {
                font-size: 42px;
                margin-right: 5px;
            }

            @each $key, $color in (1: $yellow, 2: $success, 3: $dribbble) {
                &:nth-child(#{$key}) i { 
                    color: $color;
                }
              } 

            h3 {
                font-size: 22px;
                font-weight: 600;
                color: $fade;
                margin-bottom: 8px;
            }

            h5 {
                font-size: 14px;
                color: $fade;
            }
        }
    }
}