.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.big-disc-wrap:hover .price-tabs {
  opacity: 1;
}

.price-tabs {
  margin-top: -5px;
}

.modal-new .modal-dialog {
  max-width: 800px;
  width: 100%;
}

/* Background */
.loader-container {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 100px;
  height: 100px;
}
.loader path {
  fill: #ff770d;
  transform-origin: center;
  animation: rotate 1.5s linear infinite;
}
.loaderreverse {
  animation-direction: reverse !important;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}

.btn.load-page {
  position: relative;
  display: block;
  padding: 0 30px 0 60px;
  cursor: pointer;
  height: 44px;
  border: 1px solid #ff6309;
  line-height: 44px;
  color: #fff;
  text-decoration: none !important;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2px;
  background: rgb(255,129,19);
  background: -moz-linear-gradient(top, rgba(255,129,19,1) 0%, rgba(255,107,11,1) 99%);
  background: -webkit-linear-gradient(top, rgba(255,129,19,1) 0%,rgba(255,107,11,1) 99%);
  background: linear-gradient(to bottom, rgba(255,129,19,1) 0%,rgba(255,107,11,1) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8113', endColorstr='#ff6b0b',GradientType=0 );
  box-shadow: 0px 2px 1px 0px rgba(147, 72, 31, 0.2);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.load-page:before {
    content: '';
    position: absolute;
    background: url(images/load.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    left: 29px;
    top: 50%;
    margin-top: -7px;
}

.btn.btn-themes {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  padding: 0 15px 0 15px;
  cursor: pointer;
  height: 44px;
  border: 1px solid #ff6309;
  line-height: 44px;
  color: #fff;
  text-decoration: none !important;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  background: rgb(255,129,19);
  background: -moz-linear-gradient(top, rgba(255,129,19,1) 0%, rgba(255,107,11,1) 99%);
  background: -webkit-linear-gradient(top, rgba(255,129,19,1) 0%,rgba(255,107,11,1) 99%);
  background: linear-gradient(to bottom, rgba(255,129,19,1) 0%,rgba(255,107,11,1) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8113', endColorstr='#ff6b0b',GradientType=0 );
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.btn-link {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  padding: 0 15px 0 15px;
  cursor: pointer;
  height: 44px;
  border: none;
  line-height: 44px;
  color: #333;
  text-decoration: none !important;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  background: #ededed;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
 

.big-disc-center img {
  max-width: 100%;
}

.modal-btns {}

.modal-arr {
  position: absolute;
  z-index: 99;
  left: 8px;
  top: 50%;
  width: 44px;
  height: 44px;
  background: #000;
  text-align: center;
  line-height: 44px;
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-arr:hover {
  opacity: 0.8;
}

.modal-arr:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -6px;
  width: 11px;
  height: 11px;
  left: 50%;
  margin-left: -8px;
  border: none;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);}

.modal-arr.modal-next {
  left: auto;
  right: 8px;
}

.modal-arr.modal-prev:before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}