

/* Start:/local/templates/plitka/components/bitrix/news.list/mainpage_slider_v2/style.css?1487468887436*/
.arrow_rig:hover, .arrow_lef:hover { cursor: pointer; color: rgb(255, 255, 255); text-decoration: none; outline: 0px; opacity: 0.9; }

.slick-dots li:hover button { border: 1px solid rgb(243, 115, 15) !important; }

a.w_new::after { content: ""; width: 5px; height: 9px; margin: 0px 25px 0px 7px; display: inline-block; background-image: url("https://plitka.ua/local/templates/plitka/components/bitrix/news.list/mainpage_slider_v2/images/w_arr.png"); background-position: center center; background-repeat: no-repeat; }

/* End */


/* Start:/local/templates/plitka/css/slick.css?14625021481729*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* End */


/* Start:/local/templates/plitka/template_styles.css?152371300211540*/

footer { background-color: rgb(241, 241, 241); border-top: 1px solid rgb(224, 224, 224); float: left; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 13px; line-height: normal;  padding: 42px 0px 50px; width: 100%; max-width: 100%; }

.prs_up p::after { background-color: rgb(224, 224, 224); content: ""; float: right; height: 18px; margin: -2px 37px 0px 38px; width: 1px; }

.usr_ent a:first-child::before, .usr_box span:first-child::before { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/usr_ent.png"); background-position: 0px 0px; background-repeat: no-repeat; content: ""; float: left; height: 16px; margin: 1px 8px 0px 0px; width: 16px; }

.tabs ul li:hover { background: rgb(213, 213, 213); border: 1px solid rgb(213, 213, 213); }

.tabs_cont a::before { content: ""; display: inline-block; height: 14px; margin: 0px 7px 0px 0px; width: 15px; }

.search_box input[type="submit"]:hover { background-color: rgb(199, 24, 15); }

.func_box a:hover { color: rgb(243, 113, 12); }

.item_cat:hover { background-color: rgb(245, 152, 5); }

.info_menu_nav li:hover, .info_menu_nav li.selected, .act_li { background-color: rgb(67, 63, 62); }

.info_menu_nav li a:hover span { color: rgb(243, 174, 12); }

.info_menu_nav li:hover > ul.imn_sub { display: block; padding: 14px 53px 0px 49px; width: 665px; }

.our_mag:hover { background-color: rgb(226, 39, 30); }

.sb_nav_box li a::after { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/nav_arr.png"); background-position: center center; background-repeat: no-repeat; content: ""; float: right; height: 9px; margin: 5px 18px 0px 0px; width: 5px; }

.sb_nav_box ul ul > li a::after { content: none !important; }

.sb_nav_box ul li:hover > ul { display: block; width: 100%; }

.sb_nav_box ul ul > li:hover a { color: rgb(245, 152, 5); }

.arrow_rig:hover, .arrow_lef:hover { color: rgb(255, 255, 255); cursor: pointer; outline: 0px; text-decoration: none; }

.breadcrumbs_box li a::before { content: "/"; margin: 0px 6px; }

.arr_nav::after { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/arr_nav.png"); background-position: 0px -5px; background-repeat: no-repeat; content: ""; display: block; float: right; height: 5px; margin: 5px 18px 0px 0px; width: 9px; }

footer { background: rgb(241, 241, 241); border-top: 1px solid rgb(224, 224, 224); clear: both; min-height: auto; padding: 0px 0px 25px; position: relative; width: 100%; margin: -64px auto 0px !important; }

.footer { margin: 42px auto 0px !important; }

.footer li { font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 13px; line-height: normal;  margin: 0px 0px 7px; }

.copy_inf_box { margin: 0px; padding: 0px 0px 0px 9px; width: 255px; }

.copy_inf_box p { font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 13px;  line-height: 21px; margin: 15px 0px 0px; }

.site_inf_box { margin: 0px 0px 0px 45px; width: 115px; }

.catalog_inf_box { margin: 0px 0px 0px 32px; width: 140px; }

.time_inf_box { margin: 0px 0px 0px 29px; width: 170px; }

.about_inf_box { margin: 0px 0px 0px 34px; width: 150px; }

.about_inf_box a { display: inline-block; margin: 1px 0px 0px; }

.tel_ico1::before { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/f_kye_ico.jpg"); background-position: 0px 0px; background-repeat: no-repeat; content: ""; float: left; height: 17px; padding: 0px 2px 0px 0px; width: 18px; }

.tel_ico2::before { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/life_ico.png"); background-position: 0px 0px; background-repeat: no-repeat; content: ""; float: left; height: 15px; margin: 0px 0px 0px 5px; padding: 0px 8px 0px 0px; width: 7px; }

.tel_ico3::before { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/phon_ico.png"); background-position: 0px 0px; background-repeat: no-repeat; content: ""; float: left; height: 15px; margin: -1px 0px 0px 3px; padding: 0px 5px 0px 0px; width: 11px; }

.tel_ico4::before { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/sky_ico.png"); background-position: 0px 0px; background-repeat: no-repeat; content: ""; float: left; height: 14px; margin: 0px 0px 0px 2px; padding: 0px 5px 0px 0px; width: 14px; }

.locat_inf_box { margin: 0px 0px 0px 26px; width: 366px; }

.locat_inf_box li { line-height: 20px; margin: 11px 0px 23px; }

.soc_inf_box { margin: 0px 0px 0px 35px; width: 160px; }

.charity_box { margin: 13px 0px 0px; }

.charity_box a { display: block; height: 101px; margin: 18px 0px 0px; width: 60px; }

.charity_box img { display: block; margin: 0px auto; width: 100%; }

.show-all-com a:hover, .order-item-tit a:hover, .feeds-info-item a:hover, .usr_box a:hover { text-decoration: underline; }

blockquote::before, blockquote::after, q::before, q::after, .breadcrumbs_box li:first-child a::before, .part_item a::before { content: none; }

.tabs ul::after, .tabs_b ul::after { background: rgb(70, 199, 101); clear: both; content: ""; display: block; height: 5px; }

.kye_ico::before { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/kye_ico.jpg"); background-position: center center; background-repeat: no-repeat; }
.lif_ico::before { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/life_ico.jpg"); background-position: center center; background-repeat: no-repeat; }
.sit_ico::before { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/city_ico.jpg"); background-position: center center; background-repeat: no-repeat; }
.sky_ico::before { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/skype_ico.jpg"); background-position: center center; background-repeat: no-repeat; }
.viber_ico::before { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/viber-16px.png"); background-position: center center; background-repeat: no-repeat; }

p.art_title, .charity_box p { font-style: normal !important; font-variant: normal !important; font-weight: normal !important; font-stretch: normal !important; font-size: 13px !important; line-height: normal !important; font-family: osb !important; margin: 0px 0px 9px !important; }

.tree-in ul li a, .order-item-tit a, .side-menu ul li a, .footer a { color: rgb(0, 0, 0); text-decoration: none; }

div.autocomplete > div { vertical-align: middle; }

.autocomplete div { padding: 2px 5px; white-space: nowrap; }

div.img-autocomplete { display: inline-table; width: 60px; margin-right: 5px; padding: 0px !important; }

div.text-autocomplete { display: inline-table; vertical-align: top; padding: 18px 0px 0px !important; }

.autocomplete .selected { background: rgb(240, 240, 240); }

div.autocomplete > div:last-child { height: auto !important; }

div.img-autocomplete img { width: 60px; height: 50px; border: none; }

.hidden_nav.open_nav { display: block !important; }

.text_rev .text_rev_art { color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 16px; line-height: normal; font-family: osb; margin: 0px 0px 11px; }

.text_rev p { color: rgb(137, 137, 137); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 13px;  line-height: 21px; margin: 0px 0px 22px; }

.text_rev a { color: rgb(137, 137, 137); text-decoration: none; }

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 31px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    background: url('https://plitka.ua/local/templates/plitka/images/strelki.png');
    background-position: 0 0;
}
#back-to-top:hover {
    background-position: 31px 0;
}
#back-to-top.show {
    opacity: 1;
}

.about {
    margin-top: 30px;
    margin-bottom: 50px;
    float: left;
    width: 100%;
    font-size: 13px;
    line-height: 21px;
    padding:10px;
}

@media screen and (max-width: 1920px) {

    .footer { padding-top: 25px; }

    .info_menu_nav li img, #main_page .arr_nav::after, #main_page .hidden_nav { display: none; }

}

@media screen and (max-width: 1571px) {

    .prs_up p::after { margin: -2px 10px 0px; }

    .footer { box-sizing: border-box; display: table; padding-left: 5%; width: 100%; }

    .footer div { border-left: 10px solid transparent; display: table-cell; float: none !important; padding-right: 15px !important; }

    .copy_inf_box p { margin-top: 0px; }

    .copy_inf_box p, .footer li { font-size: 11px; }

    .copy_inf_box { margin-left: 15px; width: 15%; }

    .locat_inf_box { width: 20%; }

    .soc_inf_box { text-align: center; float: right !important; }

    .charity_box p { text-align: center; }

    .soc_inf_box a, .soc_inf_box img { margin: 0px auto; text-align: center; }

}

@media screen and (max-width: 1500px) {

    .footer { padding-left: 3%; }

}

@media screen and (max-width: 1366px) {

    .footer { padding-left: 2%; }

}

@media screen and (max-width: 1280px) {

    .item_cat a::before { background-image: url("https://plitka.ua/local/templates/plitka/img/ico/mob_btn.png"); background-position: 0px 0px; background-repeat: no-repeat; content: ""; height: 15px; left: 10px; position: absolute; top: 15px; width: 20px; }

    .footer { padding-left: 0px; }

    .arr_nav::after { display: block; }

}

@media screen and (max-width: 1220px) {

    .footer div { border-left: 5px solid transparent; padding-right: 0px !important; }

    .locat_inf_box li { margin: 0px 0px 5px; }

    .copy_inf_box p { line-height: initial; margin-top: 0px; }

    .copy_inf_box p, .footer li { font-size: 9px; }

    p.art_title { font-style: normal !important; font-variant: normal !important; font-weight: normal !important; font-stretch: normal !important; font-size: 11px !important; line-height: normal !important; font-family: osb !important; }

}

@media screen and (max-width: 1024px) {

    .info_menu_nav li img { display: block; }

    p.art_title::after { background-image: url("/local/templates/plitka/img/ico/arr_nav_f.png"); background-position: 0px -4px; background-repeat: no-repeat; content: ""; display: inline-block; height: 5px; position: relative; right: -5px; top: -2px; width: 9px; }

    .footer { display: block; margin: 0px auto; text-align: center; width: 50%; }

    .footer div { border: none; clear: both; text-align: center; width: 100%; float: left !important; margin: 0px auto !important; }

    .footer div ul { box-sizing: border-box; display: none; }

    p.art_title { cursor: pointer; display: inline; text-align: center; font-size: 13px !important; margin: 0px auto 9px !important; }

    .footer li { font-size: 13px; padding: 0px 10px; }

    .soc_inf_box ul { margin: 0px auto; position: relative; text-align: center; width: auto; }

    .copy_inf_box { padding: 0px 0px 10px !important; }

    .text_rev, .copy_inf_box p.art_title::after { display: none; }

}

@media screen and (max-width: 990px) {
    .one-carus-button, .one-carus-art .one-art:nth-child(3), .one-carus-art .one-art:nth-child(4){
        display:block;
    }
}
@media screen and (max-width: 900px) {

    .usr_ent a::before, .usr_box span:first-child::before { background-size: cover; height: 12px; margin: 3px 5px 0px 0px; width: 12px; }

}

@media screen and (max-width: 768px) {

    .tel_tabs2, .copy_inf_box { padding: 0px; }

    .partners_sbr, .footer { width: 90%; }

}

@media screen and (min-width: 1281px) {

    .hide-menu .arr_nav::after, .hide-menu .hidden_nav.open_nav { display: none !important; }

}

/* End */
/* /local/templates/plitka/components/bitrix/news.list/mainpage_slider_v2/style.css?1487468887436 */
/* /local/templates/plitka/css/slick.css?14625021481729 */
/* /local/templates/plitka/template_styles.css?152371300211540 */




















.usr_ent a:first-child::before, .usr_box span:first-child::before {
	background-image: url(https://plitka.ua/local/templates/plitka/img/ico/usr_ent.png);
}