.designer {
    float: left;
    width: 100%;
    margin-top: -30px;
}

.des-top {
    height: 380px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-left: 300px;
    align-content: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
}

.des-top-descr {}

.des-name {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}

.des-info {
    margin-bottom: 30px;
}

.des-star-rat {
    display: inline-block;
    margin-right: 12px;
}

.des-star-rat span {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(images/designer/rat.png) right 0 no-repeat;
    vertical-align: top;
    margin-right: 4px;
}

.des-star-rat span.act {
    background-position: 0 0;
}

.des-comm {
    display: inline-block;
    line-height: 18px;
    color: #fff;
}

.des-comm a {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
}

.des-comm a:hover {
    text-decoration: none;
}

.des-comm i {
    font-style: normal;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.des-comm span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.des-wrap {
    float: left;
    width: 100%;
}

.des-side {
    float: left;
    width: 270px;
    margin-bottom: 20px;
}

.des-avat {

    float: left;
    width: 100%;
    margin-top: -200px;
    margin-bottom: 20px;
}

.des-avat img {
    max-width: 100%;
}

.des-avat span {
    display: block;
    padding: 5px;
    margin: 0 -5px;
    background-color: #fff;
}

.des-side-info {
    float: left;
    width: 100%;
    background-color: #F4F4F4;
    padding: 20px 24px;
    text-align: center;
    margin-bottom: 18px;
}

.des-t {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-bottom: 17px;
}

.des-t span {
    display: block;
    font-weight: bold;
    font-size: 18px;
    padding-top: 7px;
}

.des-t sup {}

.des-btns {}

.des-btns a {
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    height: 40px;
    color: #fff;
    text-decoration: none !important;
    align-content: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    background: linear-gradient(180deg, #EE873B 0%, #EB6D33 100%);
    border: 1px solid #EC6D33;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.des-btns a i {}

.des-btns a span {
    margin-left: 12px;
}

.des-btns a.write {}

.des-btns a.show-phone {}

.des-btns a.show-phone span.hides {}

.des-btns a.show-phone span.shown {
    display: none;
}

.des-soc {
    float: left;
    width: 100%;
    border: 1px solid #E0E0E0;
    padding: 20px 24px 0;
    margin-bottom: 18px;
}

.des-soc ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.des-soc li {
    float: left;
    width: 100%;
    margin-bottom: 19px;
}

.des-soc li a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer;
    height: 20px;
    font-size: 13px;
    color: #000;
    text-decoration: none !important;
}

.des-soc li a i {
    flex: 0 0 32px;
}

.des-soc li a span {}

.des-mini-info {
    float: left;
    width: 100%;
    padding: 11px 24px;
    border: 1px solid #E0E0E0;
}

.one-el-info {
    float: left;
    width: 100%;
    border-bottom: 1px dotted #D2D2D2;
    padding: 13px 0;
    font-size: 13px;
    line-height: 24px;
}

.one-el-info:last-child {
    border: none;
}

.one-el-info span {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.one-el-info i {
    font-style: normal;
}

.des-cont {
    padding-left: 300px;
    padding-top: 44px;
}

.des-boby {}

.des-tabs {
    margin-bottom: 30px;
}

.des-cont .content-des-nav ul {
    display: block;
    width: 100%;
    float: left;
    background-color: #ededed;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.des-cont .content-des-nav ul li {
    display: block;
    float: left;
    border-top: none;
    border-bottom: none;
}

.des-cont .content-des-nav ul li.active a {
    height: 49px;
    padding-bottom: 1px;
    background-color: #fff;
    position: relative;
    z-index: 99;
    margin-bottom: -1px;
}

.des-cont .content-des-nav ul li:last-child {
    border-right: 1px solid #cfcfcf;
}

.one-des-tab {
    display: none;
}

.one-des-tab > div {
    border-bottom: 1px dotted #D2D2D2;
    margin-bottom: 30px;
}

.one-des-tab > div:last-child {
    border: none;
}

.one-des-about {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
}

.one-des-about p {
    margin-bottom: 20px;
}

.des-proj {
    float: left;
    width: 100%;
}

.des-proj-tit {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.des-proj-body {
    float: left;
    width: 100%;
}

.des-proj-body-in {
    margin: 0 -15px;
}

.one-des-proj {
    float: left;
    width: calc((100% / 3) - 30px);
    margin: 0 15px 45px;
}

.one-des-proj-thumb {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.one-des-proj-thumb img {
    width: 100%;
}

.one-des-proj-info {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.one-des-proj-view {
    float: left;
    font-size: 12px;
    padding-left: 20px;
    background: url(https://plitka.ua/local/templates/plitka_2018/images/see.png) 0 1px no-repeat;
    color: #898989;
}

.one-des-proj-date {
    float: right;
    color: #898989;
    background: url(images/designer/date.svg) left 0 no-repeat;
    font-size: 12px;
    margin-left: 11px;
    padding: 3px 0 1px 19px;
    margin: -2px 0 0 0;
}

.one-des-proj-descr {
    float: left;
    width: 100%;
}

.one-des-proj-tit {
    font-size: 14px;
    line-height: 20px;
    float: left;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}

.one-des-proj-text {
    font-size: 13px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

.one-des-proj-bott {
    float: left;
    width: 100%;
}

.one-des-proj-int {
    float: left;
}

.one-des-proj-int a {
    color: #EB7E41;
    font-size: 12px;
    text-decoration: underline;
}

.one-des-proj-int a:hover {
    text-decoration: none;
}

.one-des-proj-rat {
    float: right;
}

.one-des-proj-star {
    float: left;
}

.one-des-proj-star ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.one-des-proj-star li {
    float: left;
}

.one-des-proj-star li span {
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(images/designer/rat.png) right 0 no-repeat;
    -webkit-background-size: auto 12px;
    background-size: auto 12px;
    vertical-align: top;
    margin-right: 2px;
}

.one-des-proj-star li span.act {
    background-position: 0 0;
}

.one-des-proj-num {
    float: left;
    font-size: 12px;
    color: #888;
    margin-left: 8px;
}

.des-comm-wrap {
    float: left;
    width: 100%;
}

.comm-form {
    float: left;
    width: 100%;
    padding: 40px;
    background-color: #F4F4F4;
}

.comm-form-in {
    float: left;
    width: 100%;
}

.comm-form-tit {
    float: left;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.com-form-rat {
    float: left;
    width: 100%;
    margin-bottom: 17px;
}

.star-rating {
    float: left;
    margin-left: -15px;
}

.star-rating { 
  border: none;
  float: left;
}

.star-rating > input { display: none; } 
.star-rating > label:before { 
  display: inline-block;
}

.star-rating > label { 
 float: right; 
}

.rating {
    overflow:hidden;
}

.rating input {
    opacity: 0;
    left: -999px;
    position: absolute;
}

.rating label {
    float:right;
    width: 70px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating label span {
    font-size: 11px;
    white-space: nowrap;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.rating label:hover ~ label svg path,
.rating input:focus ~ label svg path,
.rating input:checked ~ label svg path,
.rating label:hover svg path     {
    fill: #FABA48;
    cursor: pointer;
}

.comm-form-inp {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.comm-form-inp-name {
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

.comm-form-inp-in {
    float: left;
    width: 100%;
}

.comm-form-inp-in input {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    height: 40px;
    padding: 0 15px;
}

.comm-form-inp-in textarea {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    height: 109px;
    padding: 15px;
    width: 100%;
    resize: none;
}

@media screen and (min-width: 991px) {
    .comm-form-inp-in input::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    .comm-form-inp-in input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    .comm-form-inp-in input::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
    .comm-form-inp-in input :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }

    .comm-form-inp-in textarea::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    .comm-form-inp-in textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    .comm-form-inp-in textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
    .comm-form-inp-in textarea :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }
}

.com-form-add {
    float: left;
    width: 100%;
}

.com-form-add-name {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
}

.com-form-add-choose {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.one-choose-bt {
    float: left;
    margin-right: 20px;
}

.one-choose-bt a {
    display: block;
    cursor: pointer;
    width: 84px;
    height: 84px;
    border: 1px dashed #CACACA;
    padding-top: 50px;
    position: relative;
    color: #888888;
    text-align: center;
    font-size: 11px;
}

.one-choose-bt a i {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    left: 0;
    text-align: center;
}

.one-choose-bt a.photo-link i {
    top: 22px;
}

.one-choose-bt a.video-link i {
    top: 18px;
}

.com-form-info-input {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.com-form-info-input .comm-form-inp {
    width: calc((100% / 2) - 15px);
}

.send-comm {}

.orange-bt {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 40px;
    color: #fff;
    text-decoration: none !important;
    align-content: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    background: linear-gradient(180deg, #EE873B 0%, #EB6D33 100%);
    border: 1px solid #EC6D33;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.send-comm button {
    width: auto;
    padding: 0 53px;
}

.orange-bt:hover {
    background: linear-gradient(180deg, #EB6D33 0%, #EE873B 100%);
}

.modal-des {}

.modal-des .modal-dialog {
    max-width: 570px;
    width: 100%;
}

.modal-des .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
}

.close-modal {
    position: absolute;
    right: 0;
    top: 0;
    width: 56px;
    height: 58px;
    cursor: pointer;
    z-index: 9;
}

.close-modal:before, .close-modal:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    height: 1px;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-modal:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-des-wrap {
    display: inline-block;
    width: 100%;
}

.modal-des-title {
    float: left;
    width: 100%;
    font-size: 14px;
    padding: 22px 45px 22px 30px;
    font-weight: bold;
}

.modal-des-form {
    padding: 30px 30px 0;
    float: left;
    width: 100%;
    background-color: #F4F4F4;
}

.modal-des-form-input {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.modal-des-form-input input {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    height: 40px;
    padding: 0 15px;
}

.modal-des-form-input textarea {
    outline: none;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    height: 122px;
    padding: 15px;
}

.modal-captcha {
    float: left;
    width: 330px;
    position: relative;
}

.modal-captcha input {
    padding-right: 140px;
}

.mod-captcha {
    position: absolute;
    right: 5px;
    top: 5px;
}

.modal-des-form-input {}

.modal-des-form-input button {
    padding: 0 53px;
}

.modal-add-tabs {
    float: left;
    width: 100%;
}

.modal-add-nav {
    float: left;
    width: 100%;
}

.modal-add-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    background-color: #F4F4F4;
}

.modal-add-nav li {
    float: left;
    width: 50%;
    border-bottom: 1px solid #DCDCDC;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-add-nav li:hover {
    background-color: #fff;
}

.modal-add-nav li:first-child {
    border-right: 1px solid #DCDCDC;
}

.modal-add-nav li.active {
    background-color: #fff;
    border-bottom-color: transparent;
}

.modal-add-nav span {
    display: block;
    padding: 22px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.modal-add-descr {
    float: left;
    width: 100%;
    padding: 30px;
}

.one-modal-tab-wrap {
    display: none;
}

.one-modal-tab-wrap .send-file {}

.one-modal-tab-wrap .send-file button {
    width: 100%;
}

.box
{
    float: left;
    width: 100%;
}

.box-in {
    position: relative;
    height: 304px;
    width: 100%;
    margin-bottom: 24px;
}

.box.has-advanced-upload .box-in
{
    border: 1px dashed #cacaca;
}
.box.is-dragover
{
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
}
.box__dragndrop,
.box__icon
{
    display: none;
}
.box.has-advanced-upload .box__dragndrop
{
    display: inline;
}
.box.has-advanced-upload .box__icon
{
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input
{
    visibility: hidden;
}

.box__uploading,
.box__success,
.box__error
{
    display: none;
}
.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error
{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    -webkit-transform: translateY( -50% );
    transform: translateY( -50% );
}
.box__uploading
{
    font-style: italic;
}
.box__success
{
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}
    @-webkit-keyframes appear-from-inside
    {
        from    { -webkit-transform: translateY( -50% ) scale( 0 ); }
        75%     { -webkit-transform: translateY( -50% ) scale( 1.1 ); }
        to      { -webkit-transform: translateY( -50% ) scale( 1 ); }
    }
    @keyframes appear-from-inside
    {
        from    { transform: translateY( -50% ) scale( 0 ); }
        75%     { transform: translateY( -50% ) scale( 1.1 ); }
        to      { transform: translateY( -50% ) scale( 1 ); }
    }

.box__restart
{
    font-weight: 700;
}
.box__restart:focus,
.box__restart:hover
{
    color: #39bfd3;
}

.js .box__file
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.js .box__file + label
{
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 50px 0 50px;
    text-align: center;
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 21px;
    line-height: 32px;
}
.js .box__file + label strong,
.box__file + label strong,
.box__file + label strong
{
    color: #E17039;
    text-decoration: underline;
    font-weight: normal;
}
.js .box__file + label:hover strong,
.box__file:focus + label strong
{
    color: #E17039;
    text-decoration: none;
}
.js .box__file:focus + label,
.js .box__file.has-focus + label
{
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.js .box__file + label *
{
    /* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .box__file + label
{
    display: none;
}

.no-js .box__button
{
    display: block;
}
.box__button
{
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: none;
    padding: 8px 16px;
    margin: 40px auto 0;
}
.box__button:hover,
.box__button:focus
{
    background-color: #0f3c4b;
}

.send-file {
    float: left;
    width: 100%;
}

.info-file-text {
    position: absolute;
    color: #888;
    font-size: 11px;
    width: 100%;
    left: 0;
    bottom: 18px;
    text-align: center;
    line-height: 20px;
}

.uploaded-img {
    float: left;
    width: 100%;
    display: none;
}

.uploaded-img .info-file-text {
    position: static;
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
}

.uploaded-img-in {
    margin: 0 -15px 0 0;
}

.one-uploaded {
    float: left;
    margin-bottom: 20px;
    height: 160px;
    overflow: hidden;
    width: calc((100% / 3) - 15px);
    margin-right: 15px;
}

.one-uploaded img {
    min-height: 100%;
    width: auto;
    min-width: 100%;
    height: auto;
    max-width: 100%;
}

.add-more-file {
    width: calc((100% / 3) - 15px);
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 15px;
}

.add-more-file input {
    position: absolute;
    left: -999px;
    opacity: 0;
}

.add-more-file label {
    display: block;
    cursor: pointer;
    width: 160px;
    height: 160px;
    border: 1px dashed #CACACA;
    padding-top: 90px;
    text-align: center;
    font-size: 11px;
    position: relative;
}

.add-more-file span {}

.add-more-file i {
    position: absolute;
    left: 0;
    width: 100%;
    top: 60px;
}

.add-you {
    float: left;
    width: 100%;
    padding: 40px 0 0 0;
}

.add-you-inp {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.add-you-name {
    font-size: 14px;
    line-height: 24px;
    float: left;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-you-inp input {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    height: 40px;
    padding: 0 15px;
}

.add-you-info {
    float: left;
    width: 100%;
    color: #888;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 76px;
}

.thumb-videos {
    float: left;
    width: 100%;
    margin-bottom: 35px;
}

.one-video {
    float: left;
    width: 33.33%;
    padding-right: 10px;
}

.one-thumb-video {
    position: relative;
    margin-bottom: 8px;
}

.one-thumb-video > img {
    width: 100%;
}

.one-thumb-video i {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.one-thumb-video-tit {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.des-comm-title {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.des-comm-name {
    font-size: 21px;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

.des-comm-title .one-des-proj-rat {
    float: left;
    margin-top: 6px;
}

.all-photo-video {
    float: left;
    width: 100%;
}

.all-photo-comm-tit {
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 13px;
}

.all-photo-comm {
    float: left;
    width: 100%;
    padding-bottom: 35px;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 25px;
}

.one-comm-photo {
    position: relative;
    float: left;
    width: calc((100% / 7) - 10px);
    overflow: hidden;
    height: 160px;
    margin-right: 10px;
}

.one-comm-photo i {
    display: block;
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.one-comm-photo > a {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.one-comm-photo img {
    min-height: 100%;
    width: auto;
}

.more-photo {}

.more-photo a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    height: 160px;
    align-content: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none !important;
}

.more-photo a span {
    border-bottom: 1px dashed #E17039;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.more-photo a:hover span {
    border-color: transparent;
}

.all-comments {
    float: left;
    width: 100%;
}

.one-comment {
    float: left;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 30px;
}

.one-comment-top {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.one-comment-name {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 12px;
}

.one-comment-date {
    font-size: 12px;
    float: right;
    color: #888;
    margin-top: 5px;
}

.one-comment-rat {
    float: left;
    margin-top: 4px;
}

.one-comment-rat .one-des-proj-star {}

.one-comment-descr {
    font-size: 14px;
    line-height: 24px;
}

.one-comment-text {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.one-comment-val {
    float: left;
    width: 100%;
    margin-bottom: 16px;
}

.one-comment-val span {
    font-weight: bold;
}

.one-comm-info {
    float: left;
    width: 100%;
}

.one-comment-add-feed {
    float: left;
}

.one-comment-add-feed a {
    border-bottom: 1px dashed #EB7E41;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.one-comment-add-feed a:hover {
    border-color: transparent;
}

.one-comment .one-comm-photo {
    width: 80px;
    height: 80px;
}

.one-comment .one-comm-photo i svg {
    width: 30px;
}

.one-comm-like {
    float: right;
    margin-top: -1px;
}

.one-comm-like a {
    float: left;
    margin-left: 18px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    -ms-align-items: center;
    align-items: center;
}

.one-like {}

.one-like svg path {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.one-like.up {
    color: #19A34C;
}

.one-like.up:hover svg path {
    fill: #19A34C;
    opacity: 1;
}

.one-like i {}

.one-like span {
    display: inline-block;
    margin-left: 5px;
}

.one-like.down {
    color: #FF6467;
}

.one-like.down:hover svg path {
    fill: #FF6467;
    opacity: 1;
}

.all-comm-inside {
    float: left;
    width: 100%;
    padding-left: 40px;
    padding-top: 30px;
}

.one-comm-inside {
    float: left;
    width: 100%;
    background-color: #F4F4F4;
    border-radius: 0 5px 5px 5px;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.one-comm-inside:last-child {
    margin-bottom: 0;
}

.one-comm-inside-top {
    float: left;
    width: 100%;
    margin-bottom: 8px;
}

.one-comm-inside-name {
    float: left;
    font-size: 14px;
    font-weight: bold;
}

.one-comm-inside-date {
    float: right;
    font-size: 12px;
    color: #888;
}

.one-comm-inside-text {
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
}

.form-inside-comm {
    display: none;
    float: left;
    width: 100%;
    position: relative;
    padding: 30px 40px;
    margin-top: 20px;
    background-color: #F4F4F4;
}

.form-inside-comm:before {
    content: '';
    position: absolute;
    left: 17px;
    top: -14px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #F4F4F4;
}

.form-inside-comm-in {
    float: left;
    width: 100%;
}

.form-inside-comm-tit {
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 14px;
}

.form-inside-inp {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.form-inside-inp textarea {
    outline: none;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    height: 122px;
    padding: 15px;
}

.form-inside-inp input {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    height: 40px;
    padding: 0 15px;
}

.form-inside-bt {}

.form-inside-bt button {
    width: 182px;
    float: left;
    margin-right: 10px;
}

.default-bt {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 40px;
    color: #000;
    text-decoration: none !important;
    align-content: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    background: linear-gradient(180deg, #F4F4F4 0%, #E6E6E6 100%);
    border: 1px solid #CACACA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.default-bt:hover {
    background: linear-gradient(180deg, #E6E6E6 0%, #F4F4F4 100%);
}

.comm-was-send {
    display: none;
    float: left;
    width: 100%;
    padding: 23px 50px 23px 30px;
    border: 1px solid #DCDCDC;
    position: relative;
    margin-top: 20px;
}

.comm-was-send:before {
    content: '';
    position: absolute;
    left: 17px;
    top: -14px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #DCDCDC;
}


.comm-was-send:after {
    content: '';
    position: absolute;
    left: 18px;
    top: -13px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 14px solid #fff;
}

.was-send-text {
    font-size: 14px;
}

.was-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 56px;
    height: 100%;
    cursor: pointer;
    z-index: 9;
}

.was-close:before, .was-close:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    height: 1px;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.was-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-gal {}

.modal-gal .modal-dialog {
    width: 100%;
    max-width: 850px;
}

.modal-gal .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
}

.modal-gall {
    float: left;
    width: 100%;
    position: relative;
}

.modal-gall-in {}

.one-big-modal iframe {
    width: 100%;
}

.one-big-modal img {
    margin: auto;
}

.modal-gall-min {
    float: left;
    width: 100%;
    padding: 35px 0;
    text-align: center;
}

.modal-gall-min {}

.modal-gall-min-in {
    display: inline-block;
    width: 360px;
}

.one-modal-min {
    padding: 0 5px;
    position: relative;
    width: 90px;
    height: 75px;
    padding-bottom: 15px;
    cursor: pointer;
}

.one-modal-min span {
    display: block;
    width: 80px;
    height: 60px;
    overflow: hidden;
    position: relative;
}

.one-modal-min img {
    height: auto;
    min-height: 60px;
    width: auto;
    min-width: 100%;
}

.one-modal-min i {
    display: block;
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.one-modal-min:before {
    content: '';
    position: absolute;
    opacity: 0;
    height: 5px;
    left: 5px;
    right: 5px;
    bottom: 0px;
    background-color: #E17039;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.one-modal-min.slick-current:before {
    opacity: 1;
}

.modal-gall .slick-arrow {
    position: absolute;
    width: 56px;
    height: 100px;
    top: 50%;
    margin-top: -50px;
    background-color: #fff;
    right: -83px;
    border: none;
    font-size: 0;
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 9;
}

.modal-gall .slick-arrow:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 14px;
    margin: -8px 0 0 -11px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-gall .slick-arrow.slick-prev {
    right: auto;
    left: -83px;
}

.modal-gall .slick-arrow.slick-prev:before {
    margin-left: -4px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.full-text {
    display: none;
}


/* dmon full */

@media(max-width: 1200px) {

.one-comm-photo {
    width: calc((100% / 4) - 10px);
    display: none;
}

.one-comm-photo:last-child, .one-comm-photo:nth-child(1), .one-comm-photo:nth-child(2), .one-comm-photo:nth-child(3) {
    display: block;
}

.one-comm-photo img {
    min-width: 100%;
}

}
/* dmon 1200 */

@media(max-width: 991px) {

.des-side {
    width: 240px;
}

.des-cont {
    padding: 30px 0 0 270px;
}

.des-cont .content-des-nav ul li {
    width: 33.333%;
}

.des-cont .content-des-nav ul {
    border-right: none;
}

.full-text {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.full-text a {
    text-decoration: underline;
}

.one-des-about-in {
    overflow: hidden;
    max-height: 260px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.one-des-about-in.open {
    max-height: 2000px;
}

.one-des-proj {
    width: calc((100% / 2) - 30px);
}

.one-comm-photo {
    width: calc((100% / 5) - 10px);
    height: 80px;
}

.one-comm-photo:nth-child(4) {
    display: block;
}

.more-photo a {
    height: 80px;
}

.one-comm-photo i svg {
    width: 25px;
}

.form-inside-comm {
    padding: 20px 30px;
}

.form-inside-bt {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.form-inside-bt button {
    width: 48%;
    margin-right: 0;
}

.comm-form {
    padding: 30px;
}

.comm-form-tit {
    font-size: 14px;
}

.comm-form-inp-name {
    display: none;
}

.com-form-rat {
    margin-bottom: 25px;
}

.com-form-add-name {
    display: none;
}

.com-form-info-input {
    display: block;
}

.com-form-info-input .comm-form-inp {
    width: 100%;
}

.modal-gal .modal-dialog {
    max-width: 570px;
}

.one-big-modal iframe {
    height: 390px;
}

}
/* dmon 992 */

@media(max-width: 767px) {

.designer {
    margin-top: 0;
}

.designer .cont-wrap {
    padding: 0;
    position: relative;
}

.des-top {
    display: block;
    height: auto;
    padding-top: 158px;
    padding-left: 0;
    -webkit-background-size: auto 158px;
    background-size: auto 158px;
}

.des-top-descr {
    padding-top: 50px;
    text-align: center;
}

.des-name {
    color: #333;
    font-size: 20px;
}

.des-comm {
    display: block;
    padding-top: 10px;
    color: #333;
}

.des-comm i, .des-comm a {
    color: #333;
    font-size: 12px;
}

.des-side {
    width: 100%;
}

.des-avat {
    position: absolute;
    left: 0;
    top: 53px;
    margin: 0;
    text-align: center;
}

.des-avat span {
    padding: 3px;
    display: inline-block;
    width: 140px;
}

.des-info {
    margin-bottom: 20px;
}

.des-t {
    font-size: 12px;
}

.des-t span {
    font-size: 14px;
}

.des-btns {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.des-btns a {
    width: 48%;
}

.des-soc {
    border: none;
    padding-top: 0;
}

.des-soc li {
    width: 33.333%;
    margin-bottom: 0;
}

.des-soc li a i {
    flex: 0 0 26px;
}

.des-mini-info {
    border: none;
}

.des-btns a i {
    display: none;
}

.des-btns a span {
    margin-left: 0;
}

.one-el-info {
    padding: 10px 0;
    font-size: 12px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.one-el-info span {
    flex: 0 0 45%;
    font-size: 12px;
}

.one-el-info:first-child {
    border-top: 1px solid #D2D2D2;
}

.one-el-info:last-child {
    border-bottom: 1px solid #D2D2D2;
}

.des-cont {
    float: left;
    width: 100%;
    padding: 20px 20px 0;
}

.des-cont .content-des-nav ul li a {
    min-width: inherit;
    font-size: 13px;
    text-transform: none;
    height: 46px;
}

.one-des-about {
    font-size: 12px;
    line-height: 20px;
}

.des-proj-body-in {
    margin: 0 -8px;
}

.one-des-proj {
    width: calc((100% / 2) - 16px);
    margin: 0 8px 30px;
}

.one-des-proj-tit {
    font-size: 12px;
}

.one-des-proj-text {
    display: none;
}

.one-des-proj-int a {
    font-size: 11px;
}

.one-des-proj-num {
    display: none;
}

.one-des-proj-rat {
    margin-top: 1px;
}

.comm-form {
    padding: 18px 20px;
}

.star-rating {
    margin: 0;
    width: 100%;
}

.rating label svg {
    width: 26px;
}

.rating label {
    width: 20%;
    padding-bottom: 10px;
}

.rating label span {
    font-size: 10px;
}

.modal-des .modal-dialog {
    max-width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

.modal-des-form {
    padding: 20px 20px 0;
}

.modal-captcha {
    width: 100%;
}

.one-uploaded {
    /*width: 80px;*/
    height: 80px;
}

.add-more-file label {
    width: 80px;
    height: 80px;
    padding-top: 50px;
    font-size: 10px;
    color: #888;
}

.add-more-file i {
    top: 20px;
}

.uploaded-img .info-file-text {
    text-align: center;
}

.modal-add-descr {
    padding: 20px;
}

.add-you-info {
    text-align: center;
    padding: 0 30px;
}

.one-thumb-video-tit {
    font-size: 11px;
    line-height: 16px;
}

.one-thumb-video i svg {
    width: 30px;
}

.one-comm-photo {
    width: calc((100% / 4) - 10px);
    height: 80px;
}

.one-comm-photo:nth-child(4) {
    display: none;
}

.des-comm-title .one-des-proj-rat .one-des-proj-num {
    display: block;
}

.one-comment-name {
    font-size: 16px;
}

.one-comment-rat {
    margin-top: 2px;
}

.one-comment-date {
    margin-top: 3px;
}

.one-comment-descr, .one-comm-inside-text {
    font-size: 11px;
    line-height: 20px;
}

.modal-gall .slick-arrow {
    right: 0;
    width: 38px;
    height: 58px;
    margin-top: -29px;
}

.modal-gall .slick-arrow.slick-prev {
    left: 0;
    right: auto;
}

.one-big-modal iframe {
    height: 223px;
}

.modal-gall-min {
    padding: 25px 0;
}

.modal-gal .modal-dialog {
    max-width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

.modal-gall-min-in {
    width: 270px;
}

}
/* dmon 768 */

@media(max-width: 480px) {


}
/* dmon 480 */

.more-photo-min a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    height: 80px;
    align-content: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none !important;
}