@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background: gray;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet {
  color: black;
}

.active {
  opacity: 0;
}

a {
  text-decoration: none;
}
